.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 900px;
  background: rgb(212, 212, 214, 0.8);
  border-radius: 10px;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  padding-top: 20px;
}
/* write your parent styles in here for your App.js */
